<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>TECH_BUGS</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/dashboard/images/favicon.png">
    <!-- Custom Stylesheet -->
    <link href="/dashboard/css/style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/dashboard/css/main.css">
    <link rel="stylesheet" type="text/css" href="/dashboard/vendor/select2/select2.css">
</head>

<body onload="initViz();">

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <div class="brand-logo">
                <a href="/dashboard">
                    <b class="logo-abbr"><img src="/dashboard/images/logo.png" alt=""> </b>
                    <span class="logo-compact"><img src="/dashboard/images/logo-compact.png" alt=""></span>
                    <span class="brand-title">
                        <img src="/dashboard/images/logo-text.png" alt="">
                    </span>
                </a>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
  <div class="header">    
            <div class="header-content clearfix">
                
                <div class="nav-control">
                    <div class="hamburger">
                        <span class="toggle-icon"><i class="icon-menu"></i></span>
                    </div>
                </div>
     
                <div class="header-right">
                    <ul class="clearfix">
                        
                   
                        <li class="icons dropdown">
                            <div class="user-img c-pointer position-relative"   data-toggle="dropdown">
                               
                                <img src="/dashboard/images/user/1.png" height="40" width="40" alt="">
                            </div>
                            <div class="drop-down dropdown-profile   dropdown-menu">
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li>
                                            <a href="app-profile.html"><i class="icon-user"></i> <span>Profile</span></a>
                                        </li>
                                       
                                        <hr class="my-2">
                                       
                                        <li><a href="page-login.html"><i class="icon-key"></i> <span>Logout</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->
{{!-- <body > --}}
        <!--**********************************
            Sidebar start
        ***********************************-->
   <div class="nk-sidebar">           
            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label">Dashboard</li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-speedometer menu-icon"></i><span class="nav-text"> Dashboard</span>
                        </a>
                        <ul aria-expanded="false">
                            
                            <li><a href="/dashboard/trips">Orders List (Trips)</a></li>
                            <li><a href="/dashboard/drivers">Resgistered Drivers</a></li>
                        </ul>
                    </li>
                    <li class="nav-label">Trip & Tracking</li>
					    <li >
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-note menu-icon"></i><span class="nav-text"> Data Entry</span>
                        </a>
                        <ul aria-expanded="false"> 
                            <li><a href="/register/deliver">Delivery System</a></li>
                            <li><a href="/register/product">Product Description</a></li>
                            <li><a href="/register/places">Trip Description</a></li>
                            <li><a href="/register/order">Order Description</a></li>
                        </ul>
                        <li>
                            <a href="/register/livetracking" aria-expanded="false">
                                <i class="icon-graph menu-icon"></i><span class="nav-text">Live Tracking</span>
                            </a>
                        </li>
                    </li>
                    <li class="nav-label">Registration</li>
                    <li >
                        <a class="Driver registration" href="/register/driverregistration" aria-expanded="false">
                            <i class="icon-user menu-icon"></i><span class="nav-text"> Driver Registration</span>
                        </a>
                       
                    </li>
                    
                    
                </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        {{{body}}}

    </div>
        <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
            Footer start
        ***********************************-->
    <div class="footer">
        <div class="copyright">
            <p>Copyright &copy; Designed & Developed by <a href="#">TECH_BUGS</a> 2020</p>
        </div>
    </div>
    <!--**********************************
            Footer end
        ***********************************-->

        <!--**********************************
        Scripts
    ***********************************-->
        <script src="/dashboard/plugins/common/common.min.js"></script>
        <script src="/dashboard/js/custom.min.js"></script>
        <script src="/dashboard/js/settings.js"></script>
        <script src="/dashboard/js/gleek.js"></script>
		<script src="/dashboard/vendor/select2/select2.js"></script>
<script>
		$(".selection-2").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect1')
		});
	</script>
        <!--<script type="text/javascript">
            var workbook, activesheet;
            function initViz() {
                var containerDiv = document.getElementById("vizContainer"),
                    url = "https://public.tableau.com/views/DistaneMeasurement/Sheet1?:display_count=N&publish=yes&:origin=viz_share_link";

                var options = {
                    width: 500,
                    height: 500,
                    hideTabs: true,
                    hideToolbar: true,
                    onFirstInteractive: function () {
                        workbook = viz.getWorkbook();
                        activeSheet = workbook.getActiveSheet();
                    }
                };
                var viz = new tableau.Viz(containerDiv, url, options);

                var containerDiv = document.getElementById("vizContainer1"),
                    url = "https://public.tableau.com/views/DistaneMeasurement/Sheet1?:display_count=N&publish=yes&:origin=viz_share_link";

                var viz = new tableau.Viz(containerDiv, url, options);
            }
        </script> 
         <script src="https://public.tableau.com/javascripts/api/tableau-2.min.js"></script> -->

</body>

</html>