<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>TECH_BUGS</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/dashboard/images/favicon.png">
    <!-- Custom Stylesheet -->
    <link href="/dashboard/css/style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/dashboard/css/main.css">
    <link rel="stylesheet" type="text/css" href="/dashboard/vendor/select2/select2.css">
    <link rel="stylesheet" href="/public/dashboard/plugins/chartist/css/chartist.min.css">
    <style>
    #map{
      height:400px;
      width:100%;
    }
  </style>
</head>

<body onload="initViz();">

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <div class="brand-logo">
                <a href="/dashboard">
                    <b class="logo-abbr"><img src="/dashboard/images/logo.png" alt=""> </b>
                    <span class="logo-compact"><img src="/dashboard/images/logo-compact.png" alt=""></span>
                    <span class="brand-title">
                        <img src="/dashboard/images/logo-text.png" alt="">
                    </span>
                </a>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
  <div class="header">    
            <div class="header-content clearfix">
                
                <div class="nav-control">
                    <div class="hamburger">
                        <span class="toggle-icon"><i class="icon-menu"></i></span>
                    </div>
                </div>
     
                <div class="header-right">
                    <ul class="clearfix">
                        
                   
                        <li class="icons dropdown">
                            <div class="user-img c-pointer position-relative"   data-toggle="dropdown">
                               
                                <img src="/dashboard/images/user/1.png" height="40" width="40" alt="">
                            </div>
                            <div class="drop-down dropdown-profile   dropdown-menu">
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li>
                                            <a href="app-profile.html"><i class="icon-user"></i> <span>Profile</span></a>
                                        </li>
                                       
                                        <hr class="my-2">
                                       
                                        <li><a href="page-login.html"><i class="icon-key"></i> <span>Logout</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->
{{!-- <body > --}}
        <!--**********************************
            Sidebar start
        ***********************************-->
   <div class="nk-sidebar">           
            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label">Dashboard</li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-speedometer menu-icon"></i><span class="nav-text"> Dashboard</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="/dashboard">Home</a></li>
                            <li><a href="/dashboard/trips">Orders List (Trips)</a></li>
                            <li><a href="/dashboard/drivers">Resgistered Drivers</a></li>
                        </ul>
                    </li>
                    <li class="nav-label">Trip & Tracking</li>
					    <li >
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-note menu-icon"></i><span class="nav-text"> Data Entry</span>
                        </a>
                        <ul aria-expanded="false"> 
                            <li><a href="/register/deliver">Delivery System</a></li>
                            <li><a href="/register/product">Product Description</a></li>
                            <li><a href="/register/places">Trip Description</a></li>
                            <li><a href="/register/order">Order Description</a></li>
                        </ul>
                        <li>
                            <a href="/register/livetracking" aria-expanded="false">
                                <i class="icon-graph menu-icon"></i><span class="nav-text">Live Tracking</span>
                            </a>
                        </li>
                    </li>
                    <li class="nav-label">Registration</li>
                    <li >
                        <a class="Driver registration" href="/register/driverregistration" aria-expanded="false">
                            <i class="icon-user menu-icon"></i><span class="nav-text"> Driver Registration</span>
                        </a>
                       
                    </li>
                    
                    
                </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->

    <div class="content-body" >


     
            <!-- row -->

        
        {{{body}}}

    </div>
        <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
            Footer start
        ***********************************-->
    <div class="footer">
        <div class="copyright">
            <p>Copyright &copy; Designed & Developed by <a href="#">TECH_BUGS</a> 2020</p>
        </div>
    </div>
    <!--**********************************
            Footer end
        ***********************************-->

        <!--**********************************
        Scripts
    ***********************************-->
        <script src="/dashboard/plugins/common/common.min.js"></script>
        <script src="/dashboard/js/custom.min.js"></script>
        <script src="/dashboard/js/settings.js"></script>
        <script src="/dashboard/js/gleek.js"></script>
		<script src="/dashboard/vendor/select2/select2.js"></script>

        <!--Google charts-->
       <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Day', 'Product delivered'],
          ['Day1',  1000],
          ['Day2',  1170],
          ['Day3',  890 ],
          ['Day4',  1030]
        ]);

        var options = {
          title: 'Product delivered vs date',
          curveType: 'function',
         
          xAxis:{
                 gridlines: {
                   color: 'transparent'
                         }
          },
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
      
    </script>
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ["Day", "Orders", { role: "style" } ],
        ["Day1", 21, "#1e88e5"],
        ["Day2", 32, "#1e88e5"],
        ["Day3", 11, "#1e88e5"],
        ["Day4", 25, "#1e88e5"]
      ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                       2]);

      var options = {
        title: "orders vs date",
        bar: {groupWidth: "95%"},
           vAxis: {
              gridlines: {
                   color: 'transparent'
                         }
                 },
          
        legend: { position: "none" },
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
      chart.draw(view, options);
  }
  </script>
   <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Status', 'Status of a day'],
          ['Shipped',     11,],
          ['Dispatched',      6],
          ['Pending',  2],
        ]);

        var options = {
          title: 'Order Status',
          pieHole: 0.4,
          
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
        chart.draw(data, options);
      }
    </script>
 <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Age', 'Weight'],
          [ 8,      12],
          [ 4,      5.5],
          [ 11,     14],
          [ 4,      5],
          [ 3,      3.5],
          [ 6.5,    7]
        ]);

        var options = {
          title: 'Age vs. Weight comparison',
          vAxis: {
              gridlines: {
                   color: 'transparent'
                         }
                 },
          xAxis:{
                 gridlines: {
                   color: 'transparent'
                         }
          },
          legend: 'none'
        };

        var chart = new google.visualization.ScatterChart(document.getElementById('chart_div'));

        chart.draw(data, options);
      }
    </script>
     <!--Google charts end-->
</body>

</html>