<div class="container-contact100">
		<div class="wrap-contact100">
			<form class="contact100-form validate-form" action="/deliver" method="post">
				<span class="contact100-form-title">
					Delivery System
				</span>

				<div class="wrap-input100 validate-input" data-validate="Name is required">
					<span class="label-input100">Name</span>
					<input class="input100" type="text" name="name" placeholder="Enter name">
					<span class="focus-input100"></span>
				</div>
                <div class="wrap-input100 validate-input" data-validate="designation is required">
					<span class="label-input100">Designation</span>
					<input class="input100" type="text" name="designation" placeholder="Enter Designation">
					<span class="focus-input100"></span>
				</div>
				<div class="wrap-input100 input100-select">
					<span class="label-input100">Vehicle number</span>
					<div>
						<select class="selection-2" name="vehicleno">
							<option>Select the vehicle</option>
							<option>MH 4844</option>
							<option>UP 7543</option>
							<option>MP 3454</option>
						</select>
					</div>
					<span class="focus-input100"></span>
				</div>

		

				<div class="container-contact100-form-btn">
					<div class="wrap-contact100-form-btn">
						<div class="contact100-form-bgbtn"></div>
						<button class="contact100-form-btn">
							<span>
								Submit
								<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
							</span>
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	
	<div id="dropDownSelect1"></div>