<!-- ***** Preloader Start ***** -->
       <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->
    
   
        <header class="header-area header-sticky">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav class="main-nav">
                            <!-- ***** Logo Start ***** -->
                            <a href="#" class="logo">Delivery Management</a>
                            <!-- ***** Logo End ***** -->
                            <!-- ***** Menu Start ***** -->
                            <ul class="nav">
                                <li class="scroll-to-section"><a href="#welcome" class="active">Home</a></li>
                                <li class="scroll-to-section"><a href="#about">About</a></li>
                                <li class="submenu">
                                    <a href="javascript:;">Drop Down</a>
                                    <ul>
                                        <li><a href="">About Us</a></li>
                                        <li><a href="">Features</a></li>
                                        <li><a href="">FAQ's</a></li>
                                        <li><a href="">Blog</a></li>
                                    </ul>
                                </li>
                                <li class="scroll-to-section"><a href="#contact-us">Contact Us</a></li>
                            </ul>
                            <a class='menu-trigger'>
                                <span>Menu</span>
                            </a>
                            <!-- ***** Menu End ***** -->
                        </nav>
                    </div>
                </div>
            </div>
        </header>
   
        <div class="welcome-area" id="welcome">

            <!-- ***** Header Text Start ***** -->
            <div class="header-text">
                <div class="container">
                    <div class="row">
                        <div class="left-text col-lg-6 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                            <h1>Welcome to our Website</h1>
 
                            <a href="/signup" class="main-button-slider"><b>  Sign Up </b></a>
                            &nbsp; &nbsp;
                            <a href="/login" class="main-button-slider"><b>Login</b></a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                        <img src="assets/images/WebImage2.png" class="rounded img-fluid d-block mx-auto" id="image1" alt="First Vector Graphic" >
                    </div>
                    </div>
                </div>
            </div>
            <!-- ***** Header Text End ***** -->
        </div>
        <!-- ***** Features Big Item Start ***** -->
        <section class="section" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-12 col-sm-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                        <img src="assets/images/LaptopIcon.png" class="rounded img-fluid d-block mx-auto" alt="App">
                    </div>
                    <div class="right-text col-lg-5 col-md-12 col-sm-12 mobile-top-fix">
                        <div class="left-heading">
                            <h2>Instant Dispatch</h2>
                        </div>
                        <br>
                        <div class="left-text">
                            <p>Efficiently manage all your dispatch operations with our intuitive & interactive dashboard on both mobile
                            and web applications along with our Delivery Route Planning & Optimization Software.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="hr"></div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ***** Features Big Item End ***** -->
<!-- ***** Features Small Start ***** -->
<section class="section" id="services">
    <div class="container">
        <div class="row">
            <div class="owl-carousel owl-theme">
                <div class="item service-item">
                    <div class="icon">
                        <i><img src="assets/images/service-icon-01.png" alt=""></i>
                    </div>
                    <h5 class="service-title">Easy route optimization</h5>
                    <p>Route optimization helps you to discover efficient routes by taking factors such as traffic, time, and capacity under consideration.</p>
                
                </div>
                <div class="item service-item">
                    <div class="icon">
                        <i><img src="assets/images/service-icon-02.png" alt=""></i>
                    </div>
                    <h5 class="service-title">Hawk-eye view</h5>
                    <p>Hawk-eye view allows you to focus on all your major priorities along with searching queries with the help of status, time, and team filter.</p>
    
                </div>
                <div class="item service-item">
                    <div class="icon">
                        <i><img src="assets/images/service-icon-03.png" alt=""></i>
                    </div>
                    <h5 class="service-title">Automatic dispatch</h5>
                    <p>Reduce labor cost and service time with our automatic dispatch system to assign the suitable driver for right task at right time.</p>
                
                </div>
               
            </div>
        </div>
    </div>
</section>
<!-- ***** Features Small End ***** -->
<br>
<br><br>
<div class="row">
    <div class="col-lg-12">
        <div class="section-heading">
            <h2><b>Make your drivers life simple, easy, and convenient</b></h2>
        </div>
    </div>
    <div class="offset-lg-3 col-lg-6">
        <div class="section-heading">
            <p>The driver app of our last mile delivery solution has an interactive and intuitive UI along with several advanced features that makes their life easy.</p>
        </div>
    </div>
</div>
   <!-- ***** Features Big Item Start ***** -->
   <section class="section" id="about2">
    <div class="container">
        <div class="row">
            <div class="left-text col-lg-5 col-md-12 col-sm-12 mobile-bottom-fix">
            
                <ul>
                    <li>
                        <img src="assets/images/about-icon-01.png" alt="">
                        <div class="text">
                            <h6>Onboarding</h6>
                            <p>Our delivery software has an Intuitive, interactive, and simple user interface for both 
                                Android and iOS which makes the process of onboarding extremely smooth for new drivers.</p>
                        </div>
                    </li>
                    <li>
                        <img src="assets/images/about-icon-02.png" alt="">
                        <div class="text">
                            <h6>Real-time data</h6>
                            <p>Get real-time data such as customer info and order. Moreover, with real-time tracking, the drivers can avoid areas of high traffic and opt for 
                                better & faster routes to achieve high accuracy and precision.</p>
                        </div>
                    </li>
                    <li>
                        <img src="assets/images/about-icon-03.png" alt="">
                        <div class="text">
                            <h6>Proof of delivery</h6>
                            <p>With our last mile delivery solution, the execution of the completion requirements becomes extremely easy via in-app collections of notes, barcodes, signatures, and photos.</p>
                        </div>
                    </li>
                    <li>
                        <img src="assets/images/about-icon-03.png" alt="">
                        <div class="text">
                            <h6>Analyze</h6>
                            <p>With our last mile delivery solution you can improve productivity and ensure accountability with the help of detailed task history and comprehensive driver performance metrics.</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="right-image col-lg-7 col-md-12 col-sm-12 mobile-bottom-fix-big" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                <img src="assets/images/onborading-min.png" class="rounded img-fluid d-block mx-auto" alt="App">
            </div>
        </div>
    </div>
</section>
<!-- ***** Features Big Item End ***** -->


<br>
<br><br>
<div class="row">
    <div class="col-lg-12">
        <div class="section-heading">
            <h2><b>Satisfy your customers</b></h2>
        </div>
    </div>
    <div class="offset-lg-3 col-lg-6">
        <div class="section-heading">
            <p>Delight your customers with strong feedback procedure, real-time updates, and integrated customer communication.</p>
        </div>
    </div>
</div>
<!-- ***** Features Big Item Start ***** -->
<section class="section" id="about2">
    <div class="container">
        <div class="row">
            <div class="right-image col-lg-7 col-md-12 col-sm-12 mobile-bottom-fix-big" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                <img src="assets/images/automatic-notifications-min.png" class="rounded img-fluid d-block mx-auto" alt="App">
            </div>

            <div class="right-text col-lg-5 col-md-12 col-sm-12 mobile-top-fix">
              
                    <ul>
                        <li>
                            <img src="assets/images/about-icon-01.png" alt="">
                            <div class="text">
                                <h6>Customer communication integration</h6>
                                <p>With our solution, you can enhance the customer communication by allowing them to contact their dispatchers, drivers, and call centers with just a single tap. You may keep calls anonymous for safety.</p>
                            </div>
                        </li>
                        <li>
                            <img src="assets/images/about-icon-02.png" alt="">
                            <div class="text">
                                <h6>Track your drivers in real-time</h6>
                                <p>With our real-time delivery tracking system, you can provide your customers with real-time driver locations and ETAs which are presented in an aesthetic and responsive web tracking experience.</p>
                            </div>
                        </li>
                        <li>
                            <img src="assets/images/about-icon-03.png" alt="">
                            <div class="text">
                                <h6>Feedback collection</h6>
                                <p>Customer feedback is very crucial and hence we provide you with a feedback form in which all your customers can give reviews about their experience with your service.</p>
                            </div>
                        </li>
                        <li>
                            <img src="assets/images/about-icon-03.png" alt="">
                            <div class="text">
                                <h6>Automatic notifications</h6>
                                <p>Keep your customers updated by sending automatic SMS notifications in real-time. Inform them about when the delivery started and when will it be expected to arrive.</p>
                            </div>
                        </li>
                    </ul>
            </div>
       
        <div class="row">
            <div class="col-lg-12">
                <div class="hr"></div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Features Big Item End ***** -->

  <!-- ***** Features Big Item Start ***** -->
  <section class="section" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                <img src="assets/images/insightful-reports-analytics-min.png" class="rounded img-fluid d-block mx-auto" alt="App">
            </div>
            <div class="right-text col-lg-5 col-md-12 col-sm-12 mobile-top-fix">
                <div class="left-heading">
                    <h2>Insightful reports & analytics  </h2>
                </div>
                <br>
                <div class="left-text">
                    <p>Our software includes reports & analytics which provides you with pivotal data presented in a graphical form.
                         This data is critical as it helps you to take insight-driven business decisions.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="hr"></div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Features Big Item End ***** -->

<!-- ***** Features Small Start ***** -->
<section class="section" id="services">
    <div class="container">
        <div class="row">
            <div class="owl-carousel owl-theme">
                <div class="item service-item">
                    <div class="icon">
                        <i><img src="assets/images/service-icon-01.png" alt=""></i>
                    </div>
                    <h5 class="service-title">Audit your key metrics</h5>
                    <p>Envisage all the crucial metrics like distance traveled, on-time rates, service times, feedback scores, and more.</p>
                
                </div>
                <div class="item service-item">
                    <div class="icon">
                        <i><img src="assets/images/service-icon-02.png" alt=""></i>
                    </div>
                    <h5 class="service-title">Heat maps</h5>
                    <p>It helps you to plan as it tells you what is likely to happen by generating descriptive and predictive analytics.</p>
    
                </div>
                <div class="item service-item">
                    <div class="icon">
                        <i><img src="assets/images/service-icon-03.png" alt=""></i>
                    </div>
                    <h5 class="service-title">Advanced reports & analytics</h5>
                    <p>Our reports and analytics provides you with indicators that tell you how bad or good you are performing.</p>
                </div>
               
            </div>
        </div>
    </div>
</section>
<!-- ***** Features Small End ***** -->
 <!-- ***** Features Big Item Start ***** -->
 <section class="section" id="about">
    <div class="container">
        <div class="row">
           
            <div class="right-text col-lg-5 col-md-12 col-sm-12 mobile-top-fix">
        
                    <h2>Easy Integrate with System</h2>
                <br>
          
                    <p>Our solution is easy to integrate with your existing tools. This is makes it extremely easy for anyone to launch a delivery operation. 
                    With this you can import excel files or CSV. You can also use Zapier to integrate several third-party apps like Google sheets and shopify without any coding.
                    To achieve complete control, you can integrate it with our developer friendly API.</p>
             
            </div>
            <div class="col-lg-7 col-md-12 col-sm-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                <img src="assets/images/seamless-integration2-min.png" class="rounded img-fluid d-block mx-auto" alt="App">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="hr"></div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Features Big Item End ***** -->
<!-- ***** Features Big Item End ***** -->


<br>
<br><br>
<div class="row">
    <div class="col-lg-12">
        <div class="section-heading">
            <h2><b>Additional benefits that you must see</b></h2>
        </div>
    </div>
    <div class="offset-lg-3 col-lg-6">
        <div class="section-heading">
            <p>Our solution has several benefits that makes it an inevitable part of logistics and supply chain business. Have a look at some of our additional benefits.</p>
        </div>
    </div>
</div>
<!-- ***** Features Big Item Start ***** -->
<br> <br>

<!-- ***** Features Small Start ***** -->
<section class="section" id="services">
    <div class="container">
        <div class="row">
            <div class="owl-carousel owl-theme">
                <div class="item service-item">
                    <div class="icon">
                        <i><img src="assets/images/service-icon-01.png" alt=""></i>
                    </div>
                    <h5 class="service-title">Visualize route planning</h5>
                    <p>With our last mile delivery app, you can envision and compare all the planned routes against the actual routes on the map interface to identify the bottlenecks.</p>
                
                </div>
                <div class="item service-item">
                    <div class="icon">
                        <i><img src="assets/images/service-icon-02.png" alt=""></i>
                    </div>
                    <h5 class="service-title">ETA calculation</h5>
                    <p>Calculate real-time estimated time of arrival (ETA) with our last mile delivery system along with real-time re-routing and delivery route optimization.</p>
    
                </div>
                <div class="item service-item">
                    <div class="icon">
                        <i><img src="assets/images/service-icon-03.png" alt=""></i>
                    </div>
                    <h5 class="service-title">Works well in poor data</h5>
                    <p>With our last mile delivery software, there isn’t any dependency on the internet. Our system can also work in the areas having low data penetration.</p>
                </div>
                <div class="item service-item">
                    <div class="icon">
                        <i><img src="assets/images/service-icon-01.png" alt=""></i>
                    </div>
                    <h5 class="service-title">Transparency</h5>
                    <p>We made mandatory phone call to the customer a standard procedure. Due to which your businesses can get real-time updates on your inventory status.</p>
                
                </div>
                <div class="item service-item">
                    <div class="icon">
                        <i><img src="assets/images/service-icon-02.png" alt=""></i>
                    </div>
                    <h5 class="service-title">Manage multiple orders</h5>
                    <p> You can apply your custom delivery planning logic which can create shipments pertaining to the same delivery time slot from the application’s backend console.</p>
    
                </div>
                <div class="item service-item">
                    <div class="icon">
                        <i><img src="assets/images/service-icon-03.png" alt=""></i>
                    </div>
                    <h5 class="service-title">Update data automatically</h5>
                    <p>With our solution your agents no longer have to slog through the data. They can simply update all the data automatically by an IVR call.</p>
                </div>
          
            </div>
                         
            </div>
            
        </div>
        
    </div>

</section>
<!-- ***** Features Small End ***** -->

    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 col-sm-12">
                    <p class="copyright">Copyright &copy; 2020 Techbugs 
                
                
                </div>
                <div class="col-lg-5 col-md-12 col-sm-12">
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
 