<div class="content-body" style=" background-image: linear-gradient(to right, #5b86e5, #add8e6);">


    <!-- row -->

    <div class="container-fluid">

        <div class="row mt-5 mr-auto">

            <div class="card col-lg-5 col-md-12 col-sm-12 mr-auto  mb-2">

                <div id="vizContainer"></div>

            </div>
            <!-- Card -->



            <!-- Card -->


            <div class="card col-lg-5 col-md-12 col-sm-12 mr-auto  mb-2">


                <div id="vizContainer1"></div>



            </div>


        </div>

        <!-- #/ container -->
    </div>
    <!--**********************************
            Content body end
        ***********************************-->


    
</div>