


    <!-- row -->
    <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 col-sm-6 ">
                        <div class="card gradient-1">
                            <div class="card-body">
                                <h3 class="card-title text-white">Products delivered</h3>
                                <div class="d-inline-block">
                                    <h2 class="text-white">{{reached}}</h2>
                                    
                                </div>
                                
                                <span class="float-right display-5 opacity-5"><i class="fa fa-truck"></i></span>
                              </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="card gradient-2">
                            <div class="card-body">
                                <h3 class="card-title text-white">Dispatched products</h3>
                                <div class="d-inline-block">
                                    <h2 class="text-white">{{onWay}}</h2>
                                </div>
                                <span class="float-right display-5 opacity-5"><i class="fa fa-shopping-cart"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="card gradient-3">
                            <div class="card-body">
                                <h3 class="card-title text-white">New orders</h3>
                                <div class="d-inline-block">
                                    <h2 class="text-white">{{yetToReach}}</h2>
                                </div>
                                <span class="float-right display-5 opacity-5"><i class="fa fa-users"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                
                                <h4 class="card-title">Product delivery ratio</h4>
                             <div id="curve_chart"  style=" height:350px;"></div> 
                            </div>
                        </div>
                </div>

                <div class="col-lg-6">
                        <div class="card">
                            
                            <div class="card-body">
                                <h4 class="card-title">Orders recieved</h4>
                     <div id="columnchart_values"  style=" height:350px;"></div>
                            </div>
                        </div>
                </div>
                
               
                </div>
                <div class="row">
                       <div class="col-lg-6">
                        <div class="card">         
                            <div class="card-body">
                            
                            <div id="donutchart" style=" height: 350px;" ></div>
                            </div>
                        </div>
                        </div>
                        <div class="col-lg-6">
                        <div class="card">         
                            <div class="card-body">
                            
                            <div id="chart_div" style=" height: 350px;" ></div>
                            </div>
                        </div>
                
                

                </div>
            </div>
			
            <!-- #/ container -->
        </div>
    <!--**********************************
            Content body end
        ***********************************-->

    
